* {
  margin: 0;
  padding:0;
}


#wrapper{
  height: 800px;
  width:1903px;
  background-color: rgb(112,128,144);
  margin-left: -8px;
  margin-right: -8px;
  margin: 0 auto;


}
header{
  width: 1903px;
  height: 40px;
  background-color: rgb(47,79,79);

}
nav{
  width: 1903px;
  height: 60px;
  background-color: rgb(47,79,79);

}
#center{
  display:flex;
}
main{
  height:500px;
  width:1903px;
  background-color: #A9A9A9;
}
aside{
  height:500px;
  width:200px;
  background-color: rgb(112,128,144);
}
footer{
  height: 146px;
  width: 1903px;
  background-color: rgb(47,79,79);


}

/*________  formatering av länkar ______________________*/

h1{
  font-family: monospace;
  font-size: 20px;
  color: Black;
  z-index: 1;
  padding-left: 5px;

}

z{
  padding-left: 5px;
}

a{

  color: black;
  font-family: monospace;
  font-size: 20px;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}
